# Credit Card Fraud Detection::

Download dataset from this link:

https://www.kaggle.com/mlg-ulb/creditcardfraud

# Description about dataset::

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. 


### Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# WORKFLOW :

**1**.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Standardized the Input Variables. 

4.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

5.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

6.Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)

7.Train the Model with Epochs (100).

8.If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .

9.Prediction should be > 92%
10.Evaluation Step
11Prediction

# Task::

## Identify fraudulent credit card transactions.

# Load Data

In [49]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import models,layers,optimizers

In [50]:
df = pd.read_csv('creditcard.csv')

In [51]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [52]:
df.shape

(134763, 31)

# Check Missing Values

In [53]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134763 entries, 0 to 134762
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    134763 non-null  int64
 1   V1      134763 non-null  float64
 2   V2      134763 non-null  float64
 3   V3      134763 non-null  float64
 4   V4      134763 non-null  float64
 5   V5      134763 non-null  float64
 6   V6      134763 non-null  float64
 7   V7      134763 non-null  float64
 8   V8      134763 non-null  float64
 9   V9      134763 non-null  float64
 10  V10     134763 non-null  float64
 11  V11     134763 non-null  float64
 12  V12     134763 non-null  float64
 13  V13     134763 non-null  float64
 14  V14     134763 non-null  float64
 15  V15     134763 non-null  float64
 16  V16     134763 non-null  float64
 17  V17     134763 non-null  float64
 18  V18     134763 non-null  float64
 19  V19     134763 non-null  float64
 20  V20     134763 non-null  float64
 21  V21     134763 non-null  float64
 22  V22     134762 non-null  float64
 23  V23     134762 non-null  float64
 24  V24     134762 non-null  float64
 25  V25     134762 non-null  float64
 26  V26     134762 non-null  float64
 27  V27     134762 non-null  float64
 28  V28     134762 non-null  float64
 29  Amount  134762 non-null  float64
 30  Class   134762 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 31.9 MB

# Splitting Data

In [55]:
data = df.iloc[:, :-1]
targets = df.iloc[:,-1]

In [56]:
print(data.shape)
print(targets.shape)

(134763, 30)
(134763,)

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
train_data, test_data, train_targets, test_targets = train_test_split(data, targets, test_size=0.3)

In [59]:
train_data, validation_data, train_targets, validation_targets = train_test_split(train_data, train_targets, test_size=0.2)

# Standardized Input Variable

In [60]:
mean = np.mean(train_data,axis=0)
std = np.std(train_data,axis=0)

train_data -= mean
train_data /= std

validation_data -= mean
validation_data /= std

test_data -= mean
test_data /= std

# Building Model

In [77]:
model = models.Sequential()
model.add(layers.Dense(10,activation='relu',input_shape=(train_data.shape[1],)))
model.add(layers.Dense(8, activation='relu'))
model.add(layers.Dense(6, activation='relu'))
model.add(layers.Dense(1, activation='tanh'))

# Compilation Step

In [78]:
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

# Train data with Epochs =100

In [79]:
history = model.fit(train_data, train_targets, epochs=10, validation_data=(validation_data, validation_targets))

Epoch 1/10
2359/2359 [==============================] - 5s 2ms/step - loss: 0.0356 - accuracy: 0.9972 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 2/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0290 - accuracy: 0.9981 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 3/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0269 - accuracy: 0.9983 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 4/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0315 - accuracy: 0.9980 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 5/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0306 - accuracy: 0.9980 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 6/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0273 - accuracy: 0.9982 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 7/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0321 - accuracy: 0.9979 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 8/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0276 - accuracy: 0.9982 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 9/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0320 - accuracy: 0.9979 - val_loss: 0.0302 - val_accuracy: 0.9980
Epoch 10/10
2359/2359 [==============================] - 4s 2ms/step - loss: 0.0295 - accuracy: 0.9981 - val_loss: 0.0302 - val_accuracy: 0.9980

In [80]:
model.evaluate(test_data, test_targets)

1264/1264 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.9980

[nan, 0.9980459809303284]

# Prediction

In [81]:
model.predict(test_data)

array([[-0.6517455 ],
       [-0.370386  ],
       [-0.69877803],
       ...,
       [-0.26004475],
       [-0.29236215],
       [-0.32982796]], dtype=float32)

In [82]:
model.predict(test_data)[0]

array([-0.6517455], dtype=float32)